/* Primary Colors */
/* Neutral Colors */
:root {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}
@media (min-width: 1800px) {
  :root {
    font-size: 65%;
  }
}
@media (max-width: 1400px) {
  :root {
    font-size: 60%;
  }
}
@media (max-width: 1000px) {
  :root {
    font-size: 57.5%;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 52.5%;
  }
}
@media (max-width: 600px) {
  :root {
    font-size: 47.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 12rem 0;
  text-align: center;
}
header h1 {
  color: #293356;
  font-size: 4rem;
  margin-bottom: 2rem;
}
header h3 {
  font-size: 1.8rem;
  color: #858fad;
  font-weight: 600;
}

main {
  background: url("../assets/bg-pattern.svg") no-repeat;
  background-position: top left;
  background-size: 100% 65rem;
}
main .bg-wrapper {
  height: 100%;
  background: url("../assets/pattern-circles.svg") no-repeat;
  background-position: center 11rem;
  background-size: 18rem;
}
main section.container {
  width: min(90%, 70rem);
  margin: 0 auto 2rem;
  background-color: #fafbff;
  box-shadow: 2px 5px 12px -2px #293356;
  padding: 5rem 0;
}
main section.container .pricing-area {
  padding: 0 4rem;
}
main section.container .pricing-area .dragger {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 650px) {
  main section.container .pricing-area .dragger {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main section.container .pricing-area .dragger p {
    order: 2;
  }
  main section.container .pricing-area .dragger .slider {
    order: 3;
  }
  main section.container .pricing-area .dragger > span {
    order: 1;
  }
}
main section.container .pricing-area .dragger span {
  color: #858fad;
}
main section.container .pricing-area .dragger > span {
  letter-spacing: 0.4rem;
  font-size: 1.6rem;
  font-weight: 800;
}
main section.container .pricing-area .dragger .slider {
  width: 100%;
  height: 16px;
  background: #eaeefb;
  position: relative;
  margin: 5rem 0;
  border-radius: 8px;
}
main section.container .pricing-area .dragger .slider .filled-area {
  width: 50%;
  height: 100%;
  display: inline-block;
  background: #a5f3eb;
  border-radius: 8px;
}
main section.container .pricing-area .dragger .slider .draggable-btn {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #10d5c2;
  border-radius: 22px;
  cursor: grab;
}
main section.container .pricing-area .dragger .slider .draggable-btn .img-handler {
  padding: 22px;
  border-radius: 22px;
  background: url("../assets/icon-slider.svg") no-repeat center;
}
main section.container .pricing-area .dragger .slider .draggable-btn.being-dragged {
  background-color: #23AEA1;
  cursor: grabbing;
}
main section.container .pricing-area .dragger p {
  font-size: 4rem;
  font-weight: 800;
  color: #293356;
}
main section.container .pricing-area .dragger p span {
  font-size: 1.8rem;
  margin-left: 1rem;
}
main section.container .pricing-area .billing-area {
  margin: 1rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main section.container .pricing-area .billing-area .toggle {
  background-color: #cdd7ee;
  width: 8rem;
  height: 2.8rem;
  padding: 0.4rem;
  border-radius: 1.4rem;
  transition: background-color 0.2s;
  position: relative;
  cursor: pointer;
}
main section.container .pricing-area .billing-area .toggle div {
  width: 10%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  left: 0.4rem;
  transition: left 0.2s;
  position: absolute;
}
main section.container .pricing-area .billing-area .toggle.active {
  background-color: #a5f3eb;
}
main section.container .pricing-area .billing-area .toggle.active div {
  left: 69%;
}
main section.container .pricing-area .billing-area p {
  font-size: 1.6rem;
  color: #858fad;
  margin: 0 2rem;
}
main section.container .pricing-area .billing-area .discount {
  background-color: #feece7;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}
main section.container .pricing-area .billing-area .discount span {
  color: #ff8c66;
  font-size: 1.2rem;
}
main section.container .trial-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  border-top: 1px solid #cdd7ee;
}
main section.container .trial-area ul {
  margin-top: 2rem;
  list-style: inside url("../assets/icon-check.svg");
}
main section.container .trial-area ul li {
  font-size: 1.5rem;
  color: #858fad;
  margin: 1.4rem 0;
}
main section.container .trial-area a {
  background-color: #293356;
  padding: 1.6rem 4rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4rem;
}
@media (min-width: 550px) {
  main section.container .trial-area {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

/*# sourceMappingURL=main.css.map */
