header {
  padding: 12rem 0;
  text-align: center;

  h1 {
    color: $dark-desaturated-blue;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.8rem;
    color: $grayish-blue;
    font-weight: 600;
  }

  @media (max-width: 1000px) {
    padding: 8rem 0;
  }

  @media (max-width: 400px) {
    padding: 5rem 0;
  }
}
