section.container {
  width: min(90%, 70rem);
  margin: 0 auto 2rem;
  background-color: $very-pale-blue;
  box-shadow: 2px 5px 12px -2px $dark-desaturated-blue;
  padding: 5rem 0;

  .pricing-area {
    padding: 0 4rem;

    .dragger {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 650px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
          order: 2;
        }

        .slider {
          order: 3;
        }

        > span {
          order: 1;
        }
      }

      span {
        color: $grayish-blue;
      }

      > span {
        letter-spacing: 0.4rem;
        font-size: 1.6rem;
        font-weight: 800;
      }

      .slider {
        width: 100%;
        height: 16px;
        background: $light-grayish-blue;
        position: relative;
        margin: 5rem 0;

        border-radius: 8px;

        .filled-area {
          width: 50%;
          height: 100%;
          display: inline-block;
          background: $soft-cyan;
          border-radius: 8px;
        }

        .draggable-btn {
          position: absolute;
          display: inline-block;
          left: 50%;
          transform: translate(-50%, -30%);
          background-color: $strong-cyan;
          border-radius: max(22px, 2.2rem);
          cursor: grab;

          .img-handler {
            padding: max(22px, 2.2rem);
            border-radius: max(22px, 2.2rem);
            background: url('../assets/icon-slider.svg') no-repeat center;
          }

          &.being-dragged {
            background-color: $very-strong-cyan;
            cursor: grabbing;
          }
        }
      }

      p {
        font-size: 4rem;
        font-weight: 800;
        color: $dark-desaturated-blue;

        span {
          font-size: 1.8rem;
          margin-left: 1rem;
        }
      }
    }

    .billing-area {
      margin: 1rem 0 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .toggle {
        background-color: $light-grayish-blue-bgtoggle;
        width: 8rem;
        height: 2.8rem;
        padding: 0.4rem;
        border-radius: 1.4rem;
        transition: background-color 0.2s;
        position: relative;
        cursor: pointer;

        div {
          width: 10%;
          padding: 1rem;
          background-color: $white;
          border-radius: 1rem;
          left: 0.4rem;
          transition: left 0.2s;
          position: absolute;
        }

        &.active {
          background-color: $soft-cyan;

          div {
            left: 69%;
          }
        }
      }

      p {
        font-size: 1.6rem;
        color: $grayish-blue;
        margin: 0 2rem;
      }

      p:nth-of-type(2) {
        position: relative;

        &::after {
          content: '25% discount';
          width: 8rem;
          background-color: $light-grayish-red;
          color: $light-red;
          padding: 0.4rem 0.8rem;
          border-radius: 1rem;
          font-size: 1.2rem;

          position: absolute;
          left: 10.5rem;

          @media (max-width: 550px) {
            content: '-25%';
            width: 3.2rem;
            left: 6rem;
          }
        }
      }
    }
  }

  .trial-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 4rem;

    border-top: 1px solid $light-grayish-blue-bgtoggle;

    ul {
      margin-top: 2rem;
      list-style: inside url('../assets/icon-check.svg');

      li {
        font-size: 1.5rem;
        color: $grayish-blue;
        margin: 1.4rem 0;
      }
    }

    a {
      background-color: $dark-desaturated-blue;
      padding: 1.6rem 4rem;
      margin-top: 2rem;
      font-size: 1.8rem;
      text-decoration: none;
      color: $white;
      border-radius: 4rem;
    }

    @media (min-width: 550px) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }
}
